body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#flipbook {
  aspect-ratio: 22 / 17;
  width: 65vw !important;
  height: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#flipbook .page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

#flipbook img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  cursor: grab;
  touch-action: none;
  transition: transform 0.3s ease;
}


.page {
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.image-wrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.corner {
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #999 0%, transparent 100%);
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  pointer-events: none;
  z-index: 10;
}

/* Posiciones específicas */
.top-right {
  top: 0;
  right: 0;
  transform: rotate(0deg);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
}

.top-left {
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(270deg) rotateY(180deg);
}

.flipbook-wrapper {
  position: relative;
  width: 80vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 1000;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.left-arrow {
  left: 60px; /* ajusta según el espacio que quieras fuera del flipbook */
}

.right-arrow {
  right: 60px;
}

.nav-arrow:hover {
  color: rgba(0, 0, 0, 0.8);
}
